@use 'sass:color';

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #003366;
  --primary-color-hover: #00274e;
  --primary-color-light: #c8d2dc;
  --text-color: #333;
  --font-size-base: 16px;
  --bg-body: #eeeeee;
  --font-family-inter: 'Inter', sans-serif;
  --primary-icon-color: #003366;
  --success-color: #0b7a3e;
  --error-color: #ea580c;
  --warning-color: #ff7a59;
  --info-color: #003366;
}
