@use 'sass:color';
// Variáveis de Estrutura (Sempre iguais)
:root {
  --font-family-inter: 'Inter', sans-serif;
  --font-size-base: 16px; // Valor default
  --transition-speed: 0.3s;
}

// Tema Light (Padrão)
:root, .light-mode {
  --bg-body: #eeeeee;
  --bg-color: #ffffff;
  --text-color: #333;
  --primary-color: #003366;
  --primary-color-hover: #00274e;
  --primary-color-light: #c8d2dc;
  --primary-icon-color: #003366;
  --success-color: #0b7a3e;
  --error-color: #ea580c;
  --warning-color: #ff7a59;
  --info-color: #003366;
}

// Tema Dark
.dark-mode {
  --bg-body: #121212;
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
  --primary-color: #3d85c6;
  --primary-color-hover: #6fa8dc;
  --primary-color-light: #2c3e50;
  --primary-icon-color: #9fc5e8;
  // Mantenha as cores de status com bom contraste
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

// Aplicação Global
body {
  background-color: var(--bg-body);
  color: var(--text-color);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-base); // Vinculado ao Signal
  transition: background-color var(--transition-speed), font-size 0.2s;
}
