@use 'sass:color';

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #003366;
  --primary-color-hover: #00274e;
  --primary-color-light: #C8D2DC;
  --font-size-base: 16px;
  --bg-body: #eeeeee;
}
