<div class="text-center mb-5">
  <h1>Este tamanho de letra está bom?</h1>
  <p>Ajuste para que sua leitura seja confortável.</p>
</div>

<div class="d-flex gap-3">
  <div class="font-size__card">
    <p class="text-center" [style.font-size.px]="fontSize()">
      Com o SeniorEase, organizar seu dia a dia ficou mais simples e acessível.
    </p>
  </div>
  <div class="font-size__actions">
    <app-button
      (click)="decreaseFontSize(); fontSizeEmit.emit(fontSize())"
      label="Diminuir"
      direction="column"
    >
      <i class="fa-solid fa-minus"></i>
    </app-button>
    <app-button
      (click)="increaseFontSize(); fontSizeEmit.emit(fontSize())"
      label="Aumentar"
      direction="column"
    >
      <i class="fa-solid fa-plus"></i>
    </app-button>
  </div>
</div>
